<%- include('partials/header') %>
<h1>Contact Me</h1>
<form action="/addContact" method="post">
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="Αποστολή" />
</form>
<%- include('partials/footer') %>